@font-face {
    font-family: Century Schoolbook;
    src: url(fonts/centuryschoolbook.ttf);
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0; 
    background-color: #E5E5E5;
}
.header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding: 26px 0;
    z-index: 10;
    color: white;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-title {
    display: flex;
}
.header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 14px;
}
.header-nav {
    margin-left: auto;
}
.header-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    padding-right: 35px;
}
.header-link:hover {
    color: #2095F1;
    transition-delay: 0.1s;
    transition: .4s ease-out;
}
.header-link-last {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
.header-link-last:hover {
    color: #2095F1;
    transition-delay: 0.1s;
    transition: .4s ease-out;
}
.header-link-lang {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    margin-left: 155px;
}
.header-link-lang:hover {
    color: #2095F1;
    transition-delay: 0.1s;
    transition: .4s ease-out;
}
.page-main {
    background: url(../img/backgrounds/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    height: 900px;
    padding-top: 100px;
    color: white;
}
.page-main-block {
    display: flex;
    align-items: center;
}
.main-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
}
.main-title-qoute {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 16px;
    line-height: 12px;  
}
.main-date {
    margin-left: 175px;
}
.main-date-block {
    margin-top: 190px;
}
.date-box {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 40px 35px;
    margin-bottom: 40px;
    max-width: 380px;
}
.date-ten {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 34px;
}
.date-ten::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 8px;
    background: white;
    margin-left: 8px;
    margin-right: 8px;
}
.date-eleven {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 33px;
}
.date-month {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 13px;
}
.date-year {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 25px;
    padding-top: 21px;
}
.date-opening-text {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 16px;
    line-height: 3px;
}
.date-open {
    display: flex;
    margin-top: 24px;
}
.open-numbers {
    display: flex;
    margin-bottom: 24px;
}
.open-number {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 2px 10px;
}
.open-number.last {
    margin-left: 7px;
}
.open-number-one {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 2px 15px;
}
.open-day-text {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 16px;
    line-height: 3px;
}
.open-hour {
    margin-left: 30px;
}
.open-minute {
    margin-left: 30px;
}
.open-second {
    margin-left: 30px;
}
.main-page-button {
    position: relative;
    top: -50px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: white;
    background: #2095F1;
    border: none;
    padding: 10px 23px;
}
.main-page-button:hover {
    color: #2095F1;
    background: white;
    transition-delay: 0.1s;
    transition: .4s ease-out;
}
.main-page-vector {
    position: relative;
    top: 76px; 
    display: block;
    margin: auto;
}
.about {
    background: #E5EEFF;
    max-width: 1366px;
    margin: auto;
}
.about-content {
    padding-top: 47px;
    padding-bottom: 80px;
}
.about-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #008FED;
}
.about-text {
    font-family: Century Schoolbook;
    font-size: 36px;
    line-height: 45px;
    color: #354459;
    font-style: italic;
    margin-top: 57px;
}
.text-b {
    font-family: Century Schoolbook;
    font-size: 48px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: italic;
    background: #008FED;
    padding: 9px 9px 0px 12px;
}
.about-story {
    display: flex;
    align-items: center;
    padding-right: 100px;
}
.about-story-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #354459;
}
.about-block {
    display: flex;
    margin-top: 47px;
}
.first-forum {
    margin-top: 41px;
    background: url(../img/backgrounds/first-forum-bg.png);
    background-repeat: no-repeat;
}
.first-forum-block {
    background: url(../img/backgrounds/rectangle-bg.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 43px;
    padding-bottom: 79px;
}
.about-play-button {
    background-color: white;
    border-radius: 50%;
    border: none;
}
.play-icon {
    position: relative;
    left: 2px;
    margin: 24px 24px;
}
.fisrt-forum-text {
    margin-top: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.first-forum-subtext {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 18px;
    line-height: 12px;
    color: #FFFFFF;
}
.left-block-text {
    margin-top: 37px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #354459;
}
.left-block-subtext {
    margin-top: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #354459;
}
.about-right-block {
    margin-left: 10px;
}
.last-event-icon {
    margin-top: 45px;
    margin-left: 74px;
}
.last-event {
    background: url(../img/backgrounds/last-event-bg.png);
    display: flex;
}
.last-event-block {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 32px;
}
.last-event-text {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 36px;
    line-height: 45px;
    color: #354459;
}
.about-gallery {
    margin-top: 46px;
}
.card-down {
    display: flex;
    margin-top: 30px;
}
.card-2 {
    margin-left: 32px;
}
.card-4 {
    background: url(../img/about-cards/card-4.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 105px;
    padding-right: 78px;
    margin-left: 35px;
}
.card-4-text {
    font-family: Century Schoolbook;
    font-style: italic; 
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}
.about-event {
    background: url(../img/backgrounds/abou-event-bg.png);
    margin-top: 60px;
}
.about-event-block {
    padding-top: 53px;
    padding-left: 58px;
    padding-bottom: 38px;
}
.about-event-text {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

/* Программа */
.program {
    background: #354459;
    max-width: 1366px;
    margin: auto;
}
.program-block {
    padding-top: 101px;
    padding-bottom: 50px;
}
.program-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.program-buttons {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-buttons {
    display: flex;
}
.date-button {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    color: rgba(7, 11, 33, 0.4);
    background: #E8F0FF;
    padding: 10px 30px;
    border: none;
}
.date-button:hover {
    box-shadow: inset 0 0 0 3px #ffffff;
    color: #ffffff;
    transition-delay: 0.1s;
    transition: .4s ease-out;
    background: #008FED;
}
.date-button-blue {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #008FED;
    padding: 10px 30px;
    border: none;
}
.date-button-blue:hover {
    box-shadow: inset 0 0 0 3px #008FED;
    transition-delay: 0.1s;
    transition: .4s ease-out;
    color: rgba(7, 11, 33, 0.4);
    background: #ffffff;
}
.download-block {
    display: flex;
    align-items: center;
}
.download-button {
    font-family: Century Schoolbook;
    border: none;
    font-style: italic;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    background: #F03939;
    padding: 10px 10px;
}
.download-button:hover {
    box-shadow: inset 0 0 0 3px #ffffff;
    transition-delay: 0.1s;
    transition: .4s ease-out;
}
.download-pdf {
    font-family: Century Schoolbook;
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #D30000;
    padding: 5px 10px;
}
.timetable {
    margin-top: 44px;
}
.timetable-registration {
    background: #3D5272;
}
.timetable-registration-block {
    padding: 40px 40px;
}
.timetable-time {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
}
.timetable-text-block {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.timetable-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    color: #FFFFFF;
}
.timetable-place {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.timetable-column {
    margin-top: 5px;
    background: #3D5272;
}
.timetable-column-block {
    padding: 40px 40px;
}
.timetable-plan {
    margin-top: 5px;
    background: #3D5272;
}
.timetable-plan-block {
    padding: 40px 40px;
}
.timetable-text-plan {
    margin-top: 15px;
}
.timetable-text-list {
    margin-top: 11px;
}
.text-list-line {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.text-list-lin {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 20px;
}
.text-list-line::before {
    margin-right: 13px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    content: "";
    width: 6px;
    height: 6px;
    background: #FFFFFF;        
}
.timetable-column-time {
    padding: 25px 40px;
}
.playgrounds {
    margin-top: 5px;
}
.playground {
    max-width: 387px;
}
.playground-block {
    background: #3D5272;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 63px;
}
.playground-info {
    display: flex;
    align-items: center;
}
.playground-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.playground-place {
    margin-top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
}
.playground-info-button {
    margin-left: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    background: #008FED;
    border: none;
    padding: 5px 20px;
}
.playground-info-button:hover {
    box-shadow: inset 0 0 0 3px #ffffff;
    transition-delay: 0.1s;
    transition: .4s ease-out;
    background: #008FED;
}
.playground-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 23px;
}
.playgrounds {
    display: flex;
}
.playground-2 {
    margin-left: 5px;
    max-width: 387px;
}
.program-registration-button {
    text-align: center;
    margin-top: 40px;
}
.program-button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    background: #F03939;
    border: none;
    padding: 5px 30px;
}
.program-button:hover {
    box-shadow: inset 0 0 0 3px #ffffff;
    transition-delay: 0.1s;
    transition: .4s ease-out;
    background: #F03939;
}
.vector {
    display: block;
    margin: auto;
}

/* Speakers */
.speakers {
    background: #E5EEFF;
    max-width: 1366px;
    margin: auto;
}
.speakers-block {
    padding-top: 43px;
    padding-bottom: 80px;
}
.speakers-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #008FED;
}

/* Speakers-slider */
.speakers-slider {
    margin-top: 45px;
    display: flex;
    align-items: center;
}
.swiper-container {
    width: 1256px;
}
.swiper-slide.speaker-1 {
    width: 270px;
    background: url(../img/speakers/speaker-1.png);
    background-repeat: no-repeat;
}
.swiper-slide.speaker-2 {
    width: 270px;
    background: url(../img/speakers/speaker-2.png);
    background-repeat: no-repeat;
}
.swiper-slide.speaker-3 {
    width: 270px;
    background: url(../img/speakers/speaker-3.png);
    background-repeat: no-repeat;
}
.swiper-slide.speaker-4 {
    width: 270px;
    background: url(../img/speakers/speaker-4.png);
    background-repeat: no-repeat;
}
.slide-text-bg {
    margin-top: 168px;
    background: linear-gradient(180deg, rgba(12, 17, 41, 0) 0%, #0C1129 100%);
    height: 219px;
    width: 267px;
    background-repeat: no-repeat;
}
.swiper-slide-text {
    padding-top: 85px;
    padding-left: 30px;    
}
.slide-text-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.slide-text-description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 8px;
}
.arrow-right-img {
    transform: scale(-1, 1);
}
.swiper-button-next-speaker {
    margin-left: 15px;
}
.swiper-button-prev-speaker {
    margin-right: 15px;
}

/* Media */
.media {
    background: #354459;
    max-width: 1366px;
    margin: auto;
}
.media-block {
    padding-top: 82px;
    padding-bottom: 102px;
}
.media-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.media-slider {
    margin-top: 50px;
}
.media-slide-top {
    display: flex;
}
.media-slide-down {
    display: flex;
    margin-top: 50px;
}
.media-text-slide {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}
.swiper-container.media {
    width: 100%;
}
.swiper-slide.media {
    width: 540px;
}
.media-hr {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.arrow-whitegray-right {
    transform: scale(-1, 1);
}
.swiper-button-next-media {
    margin-left: 30px;
}
.media-buttons {
    display: flex;
    justify-content: center;
}

/* Партнёры */
.partners {
    background: #E5EEFF;
    max-width: 1366px;
    margin: auto;
}
.partners-block {
    padding-top: 50px;
    padding-bottom: 80px;
}
.partners-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    color: #008FED;
}
.partners-brand {
    margin-top: 48px;
}
.partners-brand-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners-brand-card {
    max-width: 252px;
    text-align: center;
}
.brand-name-pg {
    margin-top: 31px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    color: #354459;
}
.brand-name-ttk {
    margin-top: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    color: #354459;
}
.brand-name-megafon {
    margin-top: 63px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    color: #354459;
}
.brand-name-botanic {
    margin-top: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    color: #354459;
}
.brand-subname {
    font-family: Century Schoolbook;
    margin-top: 16px;
    font-style: italic;
    font-size: 16px;
    line-height: 12px;
    color: #354459;
}
.contacts {
    background: #354459;
    max-width: 1366px;
    margin: auto;
    color: #FFFFFF;
}
.contacts-block {
    padding-top: 25px;
    padding-bottom: 100px;
}
.contacts-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
}
.contacts-info {
    margin-top: 45px;
}
.contacts-info-name  {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.contact-info-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.contact-info-block {
    margin-top: 26px;
    display: flex;
    align-items: center;
}
.organization-info-right {
    margin-left: 131px;
}
.contacts-share {
    margin-top: 30px;
}
.contact-info-number {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}
.share-info-right {
    margin-left: 262px;
}
.partners-info-right {
    margin-left: 262px;
}
.contacts-info-right {
    margin-left: 225px;
}
.credit-info-right {
    margin-left: 235px;
}

/* Place */
.place {
    max-width: 1366px;
    margin: auto;
    background: #354459;
}
.place-info {
    position: absolute;
    top: 716vh;
    background: url(../img/backgrounds/place-map.png);
    width: 440px;
    height: 700px;
    margin-left: 50px;
}
.place-info-text {
    margin-left: 46px;
    color: #FFFFFF;
}
.place-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
.place-qoute {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.place-address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
/* Footer */
.footer {
    background: #354459;
    max-width: 1366px;
    margin: auto;
    color: white;
}
.footer-block {
    padding: 29px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.footer-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 16px;
}
.footer-link:hover {
    transition-delay: 0.1s;
    transition: .4s ease-out;
    color: #008FED;
}
.footer-link-lang {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-link-lang:hover {
    transition-delay: 0.1s;
    transition: .4s ease-out;
    color: #008FED;
}

/* JS-overlay */
.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.popup {
    position: absolute;
	width: 650px;
	left: 40%;
	top: 50%;
    transform: translate(-50%, -40%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #ffffff;
	color: #fff;
}
.close-popup {
    position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.close-popup::before {
    content: "";
    background-color: #008FED;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}
.close-popup::after {
    content: "";
    background-color: #008FED;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
}

@media (min-width: 575px) {
    .container {
        max-width:575px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1210px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1210px;
    }
}
@media screen and (max-width: 768px) {
	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}
}